<div style="background-color: #f3f1f2;">
  <p>&nbsp;</p>
  <p><style>
        @media only screen {
          html {
            min-height: 100%;
            background: #f3f3f3;
          }
        }

        @media only screen and (max-width: 596px) {
          .small-float-center {
            margin: 0 auto !important;
            float: none !important;
            text-align: center !important;
          }

          .small-text-center {
            text-align: center !important;
          }

          .small-text-left {
            text-align: left !important;
          }

          .small-text-right {
            text-align: right !important;
          }
        }

        @media only screen and (max-width: 596px) {
          .hide-for-large {
            display: block !important;
            width: auto !important;
            overflow: visible !important;
            max-height: none !important;
            font-size: inherit !important;
            line-height: inherit !important;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body table.container .hide-for-large,
          table.body table.container .row.hide-for-large {
            display: table !important;
            width: 100% !important;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body table.container .callout-inner.hide-for-large {
            display: table-cell !important;
            width: 100% !important;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body table.container .show-for-large {
            display: none !important;
            width: 0;
            mso-hide: all;
            overflow: hidden;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body img {
            width: auto;
            height: auto;
          }

          table.body center {
            min-width: 0 !important;
          }

          table.body .container {
            width: 95% !important;
          }

          table.body .column,
          table.body .columns {
            height: auto !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 16px !important;
            padding-right: 16px !important;
          }

          table.body .column .column,
          table.body .column .columns,
          table.body .columns .column,
          table.body .columns .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          table.body .collapse .column,
          table.body .collapse .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          td.small-1,
          th.small-1 {
            display: inline-block !important;
            width: 8.33333% !important;
          }

          td.small-2,
          th.small-2 {
            display: inline-block !important;
            width: 16.66667% !important;
          }

          td.small-3,
          th.small-3 {
            display: inline-block !important;
            width: 25% !important;
          }

          td.small-4,
          th.small-4 {
            display: inline-block !important;
            width: 33.33333% !important;
          }

          td.small-5,
          th.small-5 {
            display: inline-block !important;
            width: 41.66667% !important;
          }

          td.small-6,
          th.small-6 {
            display: inline-block !important;
            width: 50% !important;
          }

          td.small-7,
          th.small-7 {
            display: inline-block !important;
            width: 58.33333% !important;
          }

          td.small-8,
          th.small-8 {
            display: inline-block !important;
            width: 66.66667% !important;
          }

          td.small-9,
          th.small-9 {
            display: inline-block !important;
            width: 75% !important;
          }

          td.small-10,
          th.small-10 {
            display: inline-block !important;
            width: 83.33333% !important;
          }

          td.small-11,
          th.small-11 {
            display: inline-block !important;
            width: 91.66667% !important;
          }

          td.small-12,
          th.small-12 {
            display: inline-block !important;
            width: 100% !important;
          }

          .column td.small-12,
          .column th.small-12,
          .columns td.small-12,
          .columns th.small-12 {
            display: block !important;
            width: 100% !important;
          }

          table.body td.small-offset-1,
          table.body th.small-offset-1 {
            margin-left: 8.33333% !important;
            margin-left: 8.33333% !important;
          }

          table.body td.small-offset-2,
          table.body th.small-offset-2 {
            margin-left: 16.66667% !important;
            margin-left: 16.66667% !important;
          }

          table.body td.small-offset-3,
          table.body th.small-offset-3 {
            margin-left: 25% !important;
            margin-left: 25% !important;
          }

          table.body td.small-offset-4,
          table.body th.small-offset-4 {
            margin-left: 33.33333% !important;
            margin-left: 33.33333% !important;
          }

          table.body td.small-offset-5,
          table.body th.small-offset-5 {
            margin-left: 41.66667% !important;
            margin-left: 41.66667% !important;
          }

          table.body td.small-offset-6,
          table.body th.small-offset-6 {
            margin-left: 50% !important;
            margin-left: 50% !important;
          }

          table.body td.small-offset-7,
          table.body th.small-offset-7 {
            margin-left: 58.33333% !important;
            margin-left: 58.33333% !important;
          }

          table.body td.small-offset-8,
          table.body th.small-offset-8 {
            margin-left: 66.66667% !important;
            margin-left: 66.66667% !important;
          }

          table.body td.small-offset-9,
          table.body th.small-offset-9 {
            margin-left: 75% !important;
            margin-left: 75% !important;
          }

          table.body td.small-offset-10,
          table.body th.small-offset-10 {
            margin-left: 83.33333% !important;
            margin-left: 83.33333% !important;
          }

          table.body td.small-offset-11,
          table.body th.small-offset-11 {
            margin-left: 91.66667% !important;
            margin-left: 91.66667% !important;
          }

          table.body table.columns td.expander,
          table.body table.columns th.expander {
            display: none !important;
          }

          table.body .right-text-pad,
          table.body .text-pad-right {
            padding-left: 10px !important;
          }

          table.body .left-text-pad,
          table.body .text-pad-left {
            padding-right: 10px !important;
          }

          table.menu {
            width: 100% !important;
          }

          table.menu td,
          table.menu th {
            width: auto !important;
            display: inline-block !important;
          }

          table.menu.small-vertical td,
          table.menu.small-vertical th,
          table.menu.vertical td,
          table.menu.vertical th {
            display: block !important;
          }

          table.menu[align="center"] {
            width: auto !important;
          }

          table.button.small-expand,
          table.button.small-expanded {
            width: 100% !important;
          }

          table.button.small-expand table,
          table.button.small-expanded table {
            width: 100%;
          }

          table.button.small-expand table a,
          table.button.small-expanded table a {
            text-align: center !important;
            width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          table.button.small-expand center,
          table.button.small-expanded center {
            min-width: 0;
          }
        }

        @media only screen {
          html {
            min-height: 100%;
            background: #f3f3f3;
          }
        }

        @media only screen and (max-width: 596px) {
          .small-float-center {
            margin: 0 auto !important;
            float: none !important;
            text-align: center !important;
          }

          .small-text-center {
            text-align: center !important;
          }

          .small-text-left {
            text-align: left !important;
          }

          .small-text-right {
            text-align: right !important;
          }
        }

        @media only screen and (max-width: 596px) {
          .hide-for-large {
            display: block !important;
            width: auto !important;
            overflow: visible !important;
            max-height: none !important;
            font-size: inherit !important;
            line-height: inherit !important;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body table.container .hide-for-large,
          table.body table.container .row.hide-for-large {
            display: table !important;
            width: 100% !important;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body table.container .callout-inner.hide-for-large {
            display: table-cell !important;
            width: 100% !important;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body table.container .show-for-large {
            display: none !important;
            width: 0;
            mso-hide: all;
            overflow: hidden;
          }
        }

        @media only screen and (max-width: 596px) {
          table.body img {
            width: auto;
            height: auto;
          }

          table.body center {
            min-width: 0 !important;
          }

          table.body .container {
            width: 95% !important;
          }

          table.body .column,
          table.body .columns {
            height: auto !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 16px !important;
            padding-right: 16px !important;
          }

          table.body .column .column,
          table.body .column .columns,
          table.body .columns .column,
          table.body .columns .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          table.body .collapse .column,
          table.body .collapse .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          td.small-1,
          th.small-1 {
            display: inline-block !important;
            width: 8.33333% !important;
          }

          td.small-2,
          th.small-2 {
            display: inline-block !important;
            width: 16.66667% !important;
          }

          td.small-3,
          th.small-3 {
            display: inline-block !important;
            width: 25% !important;
          }

          td.small-4,
          th.small-4 {
            display: inline-block !important;
            width: 33.33333% !important;
          }

          td.small-5,
          th.small-5 {
            display: inline-block !important;
            width: 41.66667% !important;
          }

          td.small-6,
          th.small-6 {
            display: inline-block !important;
            width: 50% !important;
          }

          td.small-7,
          th.small-7 {
            display: inline-block !important;
            width: 58.33333% !important;
          }

          td.small-8,
          th.small-8 {
            display: inline-block !important;
            width: 66.66667% !important;
          }

          td.small-9,
          th.small-9 {
            display: inline-block !important;
            width: 75% !important;
          }

          td.small-10,
          th.small-10 {
            display: inline-block !important;
            width: 83.33333% !important;
          }

          td.small-11,
          th.small-11 {
            display: inline-block !important;
            width: 91.66667% !important;
          }

          td.small-12,
          th.small-12 {
            display: inline-block !important;
            width: 100% !important;
          }

          .column td.small-12,
          .column th.small-12,
          .columns td.small-12,
          .columns th.small-12 {
            display: block !important;
            width: 100% !important;
          }

          table.body td.small-offset-1,
          table.body th.small-offset-1 {
            margin-left: 8.33333% !important;
            margin-left: 8.33333% !important;
          }

          table.body td.small-offset-2,
          table.body th.small-offset-2 {
            margin-left: 16.66667% !important;
            margin-left: 16.66667% !important;
          }

          table.body td.small-offset-3,
          table.body th.small-offset-3 {
            margin-left: 25% !important;
            margin-left: 25% !important;
          }

          table.body td.small-offset-4,
          table.body th.small-offset-4 {
            margin-left: 33.33333% !important;
            margin-left: 33.33333% !important;
          }

          table.body td.small-offset-5,
          table.body th.small-offset-5 {
            margin-left: 41.66667% !important;
            margin-left: 41.66667% !important;
          }

          table.body td.small-offset-6,
          table.body th.small-offset-6 {
            margin-left: 50% !important;
            margin-left: 50% !important;
          }

          table.body td.small-offset-7,
          table.body th.small-offset-7 {
            margin-left: 58.33333% !important;
            margin-left: 58.33333% !important;
          }

          table.body td.small-offset-8,
          table.body th.small-offset-8 {
            margin-left: 66.66667% !important;
            margin-left: 66.66667% !important;
          }

          table.body td.small-offset-9,
          table.body th.small-offset-9 {
            margin-left: 75% !important;
            margin-left: 75% !important;
          }

          table.body td.small-offset-10,
          table.body th.small-offset-10 {
            margin-left: 83.33333% !important;
            margin-left: 83.33333% !important;
          }

          table.body td.small-offset-11,
          table.body th.small-offset-11 {
            margin-left: 91.66667% !important;
            margin-left: 91.66667% !important;
          }

          table.body table.columns td.expander,
          table.body table.columns th.expander {
            display: none !important;
          }

          table.body .right-text-pad,
          table.body .text-pad-right {
            padding-left: 10px !important;
          }

          table.body .left-text-pad,
          table.body .text-pad-left {
            padding-right: 10px !important;
          }

          table.menu {
            width: 100% !important;
          }

          table.menu td,
          table.menu th {
            width: auto !important;
            display: inline-block !important;
          }

          table.menu.small-vertical td,
          table.menu.small-vertical th,
          table.menu.vertical td,
          table.menu.vertical th {
            display: block !important;
          }

          table.menu[align="center"] {
            width: auto !important;
          }

          table.button.small-expand,
          table.button.small-expanded {
            width: 100% !important;
          }

          table.button.small-expand table,
          table.button.small-expanded table {
            width: 100%;
          }

          table.button.small-expand table a,
          table.button.small-expanded table a {
            text-align: center !important;
            width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          table.button.small-expand center,
          table.button.small-expanded center {
            min-width: 0;
          }
        }
      </style></p>
  <table class="container" style="margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: inherit; vertical-align: top; width: 580px;" align="center">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <td style="-moz-hyphens: auto; -webkit-hyphens: auto; margin: 0; border-collapse: collapse!important; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; hyphens: auto; line-height: 1.3; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
  <table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="columns" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; text-align: left;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><center style="min-width: 580px; width: 100%;" data-parsed=""><img class="float-center" style="-ms-interpolation-mode: bicubic; margin: 0 auto; clear: both; display: block; float: none; max-width: 100%; outline: 0; text-align: center; text-decoration: none; width: auto;" src="http://chronos.local/wp-content/uploads/2018/11/hero_newsletter.jpg" align="center" /></center></th>
  <th class="expander" style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0!important; text-align: left; visibility: hidden; width: 0;"> </th>
  </tr>
  </tbody>
  </table>
  </th>
  </tr>
  </tbody>
  </table>
  <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; margin-top: 1rem; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="small-offset-2 large-offset-2 small-6 large-6 columns first" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 0; padding-left: 112.67px; padding-right: 8px; text-align: left; width: 274px;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; background-color: #961b1e; color: #fff; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: .5rem; text-align: left;"><span style="font-family: verdana, geneva, sans-serif; font-size: 8pt;">Bonjour <strong>{subtag:prenom} </strong> <strong>{subtag:name}</strong></span></th>
  </tr>
  </tbody>
  </table>
  </th>
  <th class="small-4 large-4 columns last" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 16px; text-align: left; width: 177.33px;"> </th>
  </tr>
  </tbody>
  </table>
  <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; margin-bottom: 2rem; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="small-offset-2 large-offset-2 small-8 large-8 columns first" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 112.67px; padding-right: 8px; text-align: left; width: 370.67px;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; background-color: #f2f2f2; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: .5rem; text-align: left;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">Votre newsletter personnalisée vient de paraître.</span><br /><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">Bonne lecture.</span></th>
  </tr>
  </tbody>
  </table>
  </th>
  <th class="small-2 large-2 columns last" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 16px; text-align: left; width: 80.67px;"> </th>
  </tr>
  </tbody>
  </table>
  <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="article small-offset-1 large-offset-1 small-5 large-5 columns first" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 64.33px; padding-right: 8px; position: relative; text-align: left; width: 225.67px;"> </th>
  <th class="article small-5 large-5 columns" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 8px; position: relative; text-align: left; width: 225.67px;"> </th>
  <th class="small-1 large-1 columns last" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 16px; text-align: left; width: 32.33px;"> </th>
  </tr>
  </tbody>
  </table>
  <table class="row" style="background-color: #f2f2f2; border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="small-offset-2 large-offset-2 small-2 large-2 columns first" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 1rem 8px 16px 112.67px; text-align: left; width: 80.67px;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><img style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: 0; text-decoration: none; width: auto;" src="http://chronos.local/wp-content/uploads/2018/11/logo__tempo.png" alt="Logo de Vivaldi Tempo" /></th>
  </tr>
  </tbody>
  </table>
  </th>
  <th class="small-2 large-2 columns" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 1rem 2rem; padding-bottom: 16px; padding-left: 8px; padding-right: 8px; text-align: left; width: 80.67px;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><img style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: 0; text-decoration: none; width: auto;" src="http://chronos.local/wp-content/uploads/2018/11/logo__immo.png" alt="Logo de Vivaldi Immo" /></th>
  </tr>
  </tbody>
  </table>
  </th>
  <th class="small-3 large-3 columns" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 1rem 8px 16px 8px; text-align: left; width: 129px;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;"><img style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: 0; text-decoration: none; width: auto;" src="http://chronos.local/wp-content/uploads/2018/11/logo__amiral.png" alt="Logo de Vivaldi Amiral" /></th>
  </tr>
  </tbody>
  </table>
  </th>
  <th class="small-2 large-2 columns" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 8px; padding-right: 8px; text-align: left; width: 80.67px;"> </th>
  </tr>
  </tbody>
  </table>
  <table class="row" style="background-color: #961b1e; border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="columns first last" style="margin: 0 auto; color: #fff; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 0; padding-left: 16px; padding-right: 16px; text-align: left;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
  <p class="text-center" style="margin: 0; margin-bottom: 0; color: #fff; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-top: 1rem; text-align: center;">Copyright © Vivaldi Avocats. Tous droits réservés.</p>
  </th>
  </tr>
  </tbody>
  </table>
  </th>
  </tr>
  </tbody>
  </table>
  <table class="row" style="background-color: #961b1e; border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th class="columns first last" style="margin: 0 auto; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; text-align: left;">
  <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <tbody>
  <tr style="padding: 0; text-align: left; vertical-align: top;">
  <th style="margin: 0; color: #0a0a0a; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; text-align: left;">
  <p class="text-center" style="margin: 0; margin-bottom: 0; color: #fff; font-family: Helvetica,Arial,sans-serif; font-size: 14px!important; font-weight: 400; line-height: 1.3; padding: 0; padding-top: .5rem; text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 8pt;"><a style="margin: 0px; color: #ffffff; font-weight: 400; line-height: 1.3; padding: 0px; text-align: left; text-decoration: underline;" href="https://vivaldi-chronos.com/">www.vivaldi-chronos.com</a> - <a style="margin: 0px; color: #ffffff; font-weight: 400; line-height: 1.3; padding: 0px; text-align: left; text-decoration: underline;" href="#">{modify}Modifiez votre abonnement{/modify}</a> - <a style="margin: 0px; color: #ffffff; font-weight: 400; line-height: 1.3; padding: 0px; text-align: left; text-decoration: underline;" href="#">{unsubscribe}Se désabonner{/unsubscribe}</a></span></p>
  </th>
  </tr>
  </tbody>
  </table>
  </th>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
