/*!
Theme Name: Vivaldi Chronos
Theme URI: vivaldi-chronos.com
Author: Thomas Ringot
Author URI: tr@goweb.fr
Description: Custom theme: Vivaldi Chronos
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: chronos
*/

html,
body {
	font-size: 16px;
}

@tailwind preflight;

@tailwind components;

@screen sm {
	.sm\:ml-50p {
		margin-left: 50% !important;
	}

	.md\:w-xs {
		width: 20rem !important;
	}

	.md\:w-2xs {
		width: 25rem !important;
	}
}

@screen md {
	.md\:w-45p {
		width: 45% !important;
	}
}

.text-shadow {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.w-128 {
	width: 32rem;
}

.symmetry {
	transform: rotate(180deg);
}

.bg-blue {
	background-color: #0178b1;
}

.h-3-5r {
	height: 3.5rem !important;
}

.max-8lines {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 12rem;
}

.flex-1\/3 {
	flex: 0 0 30%;
	margin-left: 3%;
}

.group:hover .group-hover\:opacity-100 {
	opacity: 1 !important;
}

.hover\:blink {
	&:hover {
		animation: blink-1 0.6s both;
	}
}

.hover\:zoom {
	transition: transform 200ms !important;

	&:hover {
		transform: scale(1.1) !important;
	}
}

@tailwind utilities;

@font-face {
	font-family: "Futura";
	src: url("./assets/fonts/FuturaBT-Heavy.woff2") format("woff2"),
		url("./assets/fonts/FuturaBT-Heavy.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Futura";
	src: url("./assets/fonts/FuturaBT-Light.woff2") format("woff2"),
		url("./assets/fonts/FuturaBT-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

body {
	@apply .font-sans .leading-normal;
	font-size: 16px;
}

.mashead {
	background-image: url("./assets/images/hero-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	&__news-label {
		transform: skew(-10deg);
		position: relative;

		&::before {
			position: absolute;
			content: "";
			height: 2rem;
			width: 1rem;
			background: url("/wp-content/uploads/2018/12/bubble.png") top no-repeat;
			bottom: -2rem;
			left: 30%;
		}
	}
}

.home-title {
	display: table;
	margin: auto;
	position: relative;
	@apply .text-2xl .text-center .mt-8 .mb-12;

	&::before,
	&::after {
		position: absolute;
		height: 1px;
		width: 15rem;
		background-color: config("colors.grey");
		content: "";
		top: 50%;
	}

	&::before {
		left: -17rem;
	}

	&::after {
		right: -17rem;
	}

	@media (max-width: 768px) {
		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}
}

@screen md {
	.home-title {
		@apply .my-16;
	}
}

.article-item {
	position: relative;
	flex: 0 0 90%;
	@apply .mb-16 .border .bg-white;

	.article {
		&__category-list {
			@apply .list-reset .inline-flex .items-center .p-2;
			position: absolute;
			top: -1.9rem;
			left: 0;
			font-weight: bold;
		}

		&--news .article__category-list {
			@apply .bg-real-black;
		}

		&--important .article__category-list {
			@apply .bg-red;
			transform: skew(-10deg);

			&::before {
				position: absolute;
				content: "";
				height: 1.5rem;
				width: 1.5rem;
				background: url(/wp-content/uploads/2018/12/little-bubble.png) top
					no-repeat;
				bottom: -1.5rem;
				left: 10%;
			}
		}

		&__category-item {
			font-size: 0.6rem;
		}

		&__category-item:not(:last-of-type)::after {
			content: "/";
			font-size: inherit;
			color: config("colors.red");
			@apply pl-1;
			@apply pr-2;
		}

		&--news .article__category-item:not(:last-of-type)::after,
		&--important .article__category-item:not(:last-of-type)::after {
			color: config("colors.white");
		}

		&__category-link {
			@apply .font-bold .text-red .no-underline .uppercase;
		}

		&--news .article__category-link,
		&--important .article__category-link {
			@apply .text-white;
		}

		&__card {
			@apply .p-4;
		}

		&--important .article__card {
			@apply .bg-grey-light;
		}

		&__header {
			@apply .flex .justify-between .text-xs .mb-4;
		}

		&__publish {
			@apply .text-grey-dark;
		}

		&--thumbnail .article__publish {
			@apply .text-white;
		}

		&__important {
			@apply .uppercase .font-bold;
		}

		&__title {
			@apply .text-lg .mb-4;
		}

		&--news .article__title,
		&--important .article__title {
			@apply .text-red;
		}

		&--thumbnail .article__title {
			@apply .bg-white .text-black .p-4;
		}

		&__excerpt {
			@apply .mb-8;
		}

		&--thumbnail .article__excerpt {
			opacity: 0;
		}

		&__read-more {
			@apply .font-bold .text-black .no-underline;

			position: absolute;
			bottom: 1rem;
			right: 1rem;
		}

		&--thumbnail .article__read-more {
			@apply .text-white;
		}

		&__read-more-icon {
			@apply .ml-4 .align-middle;
			transition: all 200ms;
		}

		&--thumbnail .article__read-more-icon {
			opacity: 0 !important;
		}
	}
}

@screen sm {
	.article-item {
		flex: 0 0 45%;
	}
}

@screen lg {
	.article-item {
		flex: 0 0 30%;
	}
}

.cta {
	@apply .py-3 .px-4 .bg-white .text-black .text-xs .border .border-black .font-bold;
	height: 3.5rem;
	line-height: 1.5rem;
}

@screen md {
	.cta {
		@apply .text-lg;
	}
}

.category-picker {
	@apply .py-3 .px-5 .bg-white .text-xs .text-black .font-bold .cursor-pointer .inline-flex .justify-center .items-center;
	height: 3.5rem;
	line-height: 1.5rem;

	&__icon {
		transform: translateY(0.15rem);
	}
}

@screen md {
	.category-picker {
		@apply .text-lg;
	}
}

// single page

.single-article {
	.article {
		&__category-link {
			@apply .text-red .font-bold .uppercase .no-underline;
		}

		&__category-item:not(:last-of-type)::after {
			content: "/";
			font-weight: bold;
			font-size: inherit;
			color: config("colors.red");
			@apply pl-1;
			@apply pr-2;
		}

		&__content {
			a {
				@apply .text-red .font-bold  .border-b .border-b-4 .border-grey .no-underline;
			}

			a:hover {
				@apply .border-red;
			}
		}
	}
}

// carousel

.js-carousel .article {
	width: unset !important; // let the carousel lib handle it
}

.slick-track {
	padding-top: 3rem !important;
}
.slick-slide {
	width: 30%;
	margin-right: 2rem;
	min-height: 20rem;
}

// hover.css
.hvr-underline-from-left::before {
	background-color: config("colors.black") !important;
}

.article--thumbnail {
	.hvr-underline-from-left::before {
		background-color: config("colors.white") !important;
	}
}

.article--important {
	.hvr-underline-from-left::before {
		background-color: config("colors.red") !important;
	}
}

.hvr-outline-in::before {
	border-color: config("colors.white") !important;
}

// Custom hover

/* ----------------------------------------------
 * Generated by Animista on 2018-10-27 15:2:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@keyframes blink-1 {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}

.nav {
	display: none;
	animation: zoom-in 200ms forwards;
	background: white;

	&.is-active {
		display: flex;
	}

	&__body {
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__category-list-item {
		@apply .text-xl .font-bold .mb-4 .cursor-pointer;

		&:hover {
			@apply .text-red;
		}
	}

	&__subcategory {
		display: none;

		&.is-active {
			display: initial;
		}
	}

	&__subcategory-link {
		@apply .text-lg .font-bold .mb-4 .text-black .no-underline;

		&:hover {
			@apply .text-red;
		}
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 0.95;
	}
}

.footer {
	// footer home
	&--home {
		@apply .bg-grey;

		@screen md {
			background: config("colors.grey")
				url("/wp-content/uploads/2018/12/home__big_v.png") no-repeat;
			background-position-x: 20%;
			background-size: auto 100%;
		}

		.footer {
			&-container {
				@apply .py-8;
			}

			&__websites {
				@screen md {
					@apply .max-w-sm;
					margin-left: 50%;
				}

				&__title {
					@apply .border .border-black .m-auto .py-4 .text-center .text-sm .uppercase .w-4/5;

					@screen md {
						@apply .w-full;
					}
				}

				&__list {
					@apply .list-reset .mt-8;
				}

				&__item:last-of-type .footer__websites__link {
					@apply .mb-0;
				}

				&__link {
					@apply .flex .justify-between .mb-4 .text-black .no-underline;
					transition: transform 200ms;

					&:hover {
						transform: scale(1.05);
					}

					@screen md {
						@apply .justify-center;
					}
				}

				&__logo-box {
					@apply .flex .justify-center .items-center .w-1/2 .mr-4 .border-r .border-black;
				}

				&__content {
					@apply .w-1/2;
				}
			}

			&__links__list {
				@apply .list-reset .bg-grey-light .flex .justify-center .items-center;
			}

			&__links__item {
				@apply mr-4;

				&:first-of-type {
					@apply .text-sm;
				}
			}

			&__links__link {
				@apply .text-black .text-sm .no-underline;
			}
		}
	}

	// footer single
	&__form--part1 {
		@media (max-width: 768px) {
			.footer__inputs input[type="text"] {
				flex-basis: 90% !important;
			}

			.footer__inputs input[type="mail"] {
				flex-basis: 70% !important;
			}

			.footer__inputs button {
				flex-basis: 20% !important;
			}
		}
	}

	&__form--part2 {
		.footer__inputs input[type="tel"] {
			flex: 1;
		}

		.footer__inputs textarea {
			flex-basis: 100% !important;
		}
	}
	&__indicator-item.is-active {
		background-color: config("colors.red");
		transform: scale(1.05);
	}
}

// Qu'est-ce que chronos
.chronos {
	&__animation {
		height: 10rem;
		position: relative;
		overflow: hidden;
	}

	&__animated-word {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		color: config("colors.red");
		font-size: 2rem;
		font-weight: bold;
		transform-origin: left;
		transform: translate(-50%, 50%);
		display: inline-block;
		text-align: center;
		width: 100%;

		// animation séquentielle
		$anim__duration: 1000ms;
		$anim__delay: 500ms;
		@for $i from 1 through 28 {
			&:nth-of-type(#{$i}) {
				@if ($i == 28) {
					animation: fade-in-up-stay
						$anim__duration
						forwards
						$i *
						$anim__duration +
						$anim__delay;
				} @else {
					animation: fade-in-up
						$anim__duration
						forwards
						$i *
						$anim__duration +
						$anim__delay;
				}
			}
		}
	}
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}

	70% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -100%);
	}
}

@keyframes fade-in-up-stay {
	0% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}

	70% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -100%);
	}
}

// newsletter
.newsletter {
	display: none;

	&.is-active {
		display: flex;
	}

	&__title {
		background: linear-gradient(
				to right,
				config("colors.red"),
				config("colors.red")
			)
			no-repeat;
		background-size: 25% 4px;
		background-position: bottom center;
	}

	@media (max-width: 768px) {
		&__title {
			order: 2;
		}

		&__close-button {
			order: 1;
		}
	}

	&__acymailing {
		width: 100%;
	}
}

.acymailing_module_form {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;

	.acymailing_form {
		order: -1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (min-width: 768px) {
			width: 48%;
		}

		p.onefield {
			width: 45%;
			margin-bottom: 1rem;

			span {
				display: inline-block;
				width: 100%;

				input {
					width: 100% !important;
					padding: 1rem;
				}
			}
		}
	}

	.acymailing_lists {
		width: 100%;

		@media (min-width: 768px) {
			width: 48%;
		}
		p.onelist {
			margin-bottom: 0.5rem;

			span {
				margin-left: 1rem;
			}
		}
	}
}

.js-newsletter__promises {
	margin: 2rem 0 !important;
}

.acysubbuttons {
	@apply .w-full mt-8;

	input {
		@apply .text-sm .bg-red .text-white .p-4 .font-bold .cursor-pointer .m-auto;
	}
}

/* Safari 10.1+ */
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) {
		.article__excerpt {
			font-weight: 300;
		}
	}
}

// sidebar
.widget-container {
	@apply .my-16;

	@screen md {
		@apply .my-0;
	}
}

.newsletter-widget {
	&__content {
		@apply .flex .justify-between .items-center;
	}

	&__icon {
		transform: translateY(-0.5rem);
	}

	&__text {
		@apply .mb-4;
	}
}

// PRINT
@media print {
	.header,
	.article__navigation,
	.article__footer,
	.widget-container,
	.category-picker,
	.footer {
		@apply .hidden;
	}

	.article__excerpt,
	.article__content {
		padding: 0;
	}
	.article__excerpt--end {
		border: 0;
	}

	header,
	h1 {
		margin: 0;
	}
}

// home__read-all
.home__read-all {
	background-color: config("colors.grey") !important;
	border: 0 !important;
	line-height: initial !important;
}
